# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Environment
.env
venv/
env/
freshspringenv/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# macOS & Windows
.DS_Store
Thumbs.db

# settings.py local config
settings.py