{% extends 'freshspring_app/base.html' %}
{% load static %}

{% block title %}FreshSpring - blog{% endblock %}

{% block content %}

<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-content">
            <h2>Blog</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
    <img class="page-banner-shape-1" src="{% static 'freshspring_app/images/shape/page-banner-shape-1.png' %}" alt="image">
    <img class="page-banner-shape-2" src="{% static 'freshspring_app/images/shape/page-banner-shape-2.png' %}" alt="image">
</div>
<!-- End Page Banner Area -->

<!-- Start Service Details Area -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-lg-12">
                            <div class="blog-card">
                                <div class="blog-image">
                                    <a href="blog-details.html" class="d-block">
                                        <img src="{{ blog.image.url }}" alt="image">
                                    </a>
                                    <div class="date">{{ blog.created_at|date:"d"}} <span>{{ blog.created_at|date:"F"}}</span></div>
                                </div>
                                <div class="blog-card-body">
                                    <ul class="comment">
                                        <li><i class='bx bx-user'></i>FreshSpring</li>
                                        <li><i class='bx bx-message-rounded'></i>({{blog.comments.count}} Comment)</li>
                                    </ul>
                                    <h3>
                                        <a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a>
                                    </h3>
                                    <p>{{ blog.content|striptags|slice:":50"}}</p>
                                    <a href="{% url 'blog_detail' blog.slug %}" class="learn-more">Learn More <i class="flaticon-right-arrow-3"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--<div class="col-lg-12">
                            <div class="blog-card">
                                <div class="blog-image">
                                    <a href="blog-details.html" class="d-block">
                                        <img src="{% static 'freshspring_app/images/blog/blog-image-5.jpg' %}" alt="image">
                                    </a>
                                    <div class="date">12 <span>July</span></div>
                                </div>
                                <div class="blog-card-body">
                                    <ul class="comment">
                                        <li><i class='bx bx-user'></i>Torado</li>
                                        <li><i class='bx bx-message-rounded'></i>(0 Comment)</li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">The benefits of regular carpet cleaning</a>
                                    </h3>
                                    <p>Proin ut dictumst tellus egestas. Faucibus vel blandit sit ut nulla quam et mauris. Augue nullam arcu est a augue ornare faucibus morbi. Accumsan proin sed porta pharetra lectus enim suscipit. Venenatis sagittis id morbi diam diam elit et.</p>
                                    <a href="blog-details.html" class="learn-more">Learn More <i class="flaticon-right-arrow-3"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="blog-card">
                                <div class="blog-image">
                                    <a href="blog-details.html" class="d-block">
                                        <img src="assets/images/blog/blog-image-3.jpg" alt="image">
                                    </a>
                                    <div class="date">11 <span>July</span></div>
                                </div>
                                <div class="blog-card-body">
                                    <ul class="comment">
                                        <li><i class='bx bx-user'></i>Torado</li>
                                        <li><i class='bx bx-message-rounded'></i>(0 Comment)</li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">Tips for eco-friendly and sustainable cleaning</a>
                                    </h3>
                                    <p>Proin ut dictumst tellus egestas. Faucibus vel blandit sit ut nulla quam et mauris. Augue nullam arcu est a augue ornare faucibus morbi. Accumsan proin sed porta pharetra lectus enim suscipit. Venenatis sagittis id morbi diam diam elit et.</p>
                                    <a href="blog-details.html" class="learn-more">Learn More <i class="flaticon-right-arrow-3"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="blog-card">
                                <div class="blog-image">
                                    <a href="blog-details.html" class="d-block">
                                        <img src="{% static 'freshspring_app/images/blog/blog-image-9.jpg' %}" alt="image">
                                    </a>
                                    <div class="date">10 <span>July</span></div>
                                </div>
                                <div class="blog-card-body">
                                    <ul class="comment">
                                        <li><i class='bx bx-user'></i>Torado</li>
                                        <li><i class='bx bx-message-rounded'></i>(0 Comment)</li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">The ultimate guide to deep cleaning your kitchen</a>
                                    </h3>
                                    <p>Proin ut dictumst tellus egestas. Faucibus vel blandit sit ut nulla quam et mauris. Augue nullam arcu est a augue ornare faucibus morbi. Accumsan proin sed porta pharetra lectus enim suscipit. Venenatis sagittis id morbi diam diam elit et.</p>
                                    <a href="blog-details.html" class="learn-more">Learn More <i class="flaticon-right-arrow-3"></i></a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="service-pagination blog-pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {# Previous Button #}
                            {% if blogs.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ blogs.previous_page_number}}" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <i class="flaticon-left-arrow-3"></i>
                                        </span>
                                    </a>
                                </li>
                            {% endif %}

                            {# Page Number #}
                            {% for num in blogs.paginator.page_range %}
                                <li class="page-item">
                                    <a class="page-link {% if blogs.number == num %}active{% endif %}" href="?page={{ num }}">
                                        {{ num }}
                                    </a>
                                </li>
                            {% endfor %}

                            {# Next Button #}
                            {% if blogs.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">
                                            <i class="flaticon-right-arrow-3"></i>
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <!--<div class="search">
                        <form class="sidebar-search">
                            <h3>Search</h3>
                            <div class="r-relative">
                                <input type="text" class="form-control" placeholder="Search here...">
                                <button type="submit" class="btn-search">
                                    <i class='bx bx-search'></i>
                                </button>
                            </div>
                        </form>
                    </div>-->

                    <div class="choose-service">
                        <h3>Choose any service</h3>
                        <ul>
                            {% for service in services %}
                            <li class="{% if forloop.first %}active{% endif %}">
                                <a href="{% url 'services' %}">{{ service.title }}</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            {% endfor %}
                            <!--<li>
                                <a href="#">Residential Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Deep Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Retail Store Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Window Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Carpet Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">One-Time Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Outdoor Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>-->
                        </ul>
                    </div>
                    
                    <div class="news">
                        <h3>Recent posts</h3>
                        {% for blog in blogs|slice:":5" %}
                        <div class="nes-feed">
                            <img src="{{ blog.image.url}}" alt="image">
                            <div class="news-content">
                                <span>{{ blog.created_at|date:"F j Y"}}</span>
                                <h4>
                                    <a href="#">{{ blog.title }}</a>
                                </h4>
                            </div>
                        </div>
                        {% endfor %}
                        <!--<div class="nes-feed">
                            <img src="{% static 'freshspring_app/images/user/user-image-4.jpg' %}" alt="image">
                            <div class="news-content">
                                <span>July 14 2025</span>
                                <h4>
                                    <a href="#">Quick and easy solutions for a cleaning home</a>
                                </h4>
                            </div>
                        </div>
                        <div class="nes-feed">
                            <img src="{% static 'freshspring_app/images/user/user-image-5.jpg' %}" alt="image">
                            <div class="news-content">
                                <span>July 13 2025</span>
                                <h4>
                                    <a href="#">Your step-by-step guide to a thorough cleaning</a>
                                </h4>
                            </div>
                        </div>
                        <div class="nes-feed">
                            <img src="{% static 'freshspring_app/images/user/user-image-6.jpg' %}" alt="image">
                            <div class="news-content">
                                <span>July 12 2025</span>
                                <h4>
                                    <a href="#">Top 10 tips for a spotless and organized home</a>
                                </h4>
                            </div>
                        </div>-->
                    </div>

                    <!--<div class="popular-tag">
                        <h3>Popular tags</h3>
                        <ul class="tags">
                            <li><a href="#">Cleaning</a></li>
                            <li><a href="#">Commercial Cleaning</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Deep Cleaning</a></li>
                            <li><a href="#">Residential Cleaning</a></li>
                            <li><a href="#">House</a></li>
                            <li><a href="#">Outdoor Cleaning</a></li>
                            <li><a href="#">Cleaning News</a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Details Area -->

<!-- Start Sign Up To Our Newsletter Area -->
<!--<div class="newsletter-area newsletter-service">
    <div class="container">
        <div class="newsletter-bg bg-color-8cb1dc">
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 col-md-7">
                    <form class="newsletter-form">
                        <h4>Signup to our newsletter</h4>
                        <div class="form-group">
                            <i class='bx bx-envelope'></i>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="learn-more">Subscribe<i class="flaticon-right-arrow-3"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="question-call d-flex align-items-center justify-content-end">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <div class="info">
                            <span>Have a question?</span>
                            <a href="tel:14519534466">+1 (451) 953 4466</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End Sign Up To Our Newsletter Area -->

{% endblock %}