{% extends 'freshspring_app/base.html' %}
{% load static %}

{% block title %}blog_detail{% endblock %}

{% block content %}

<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-content">
            <h2>Blog Details</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
    <img class="page-banner-shape-1" src="assets/images/shape/page-banner-shape-1.png" alt="image">
    <img class="page-banner-shape-2" src="assets/images/shape/page-banner-shape-2.png" alt="image">
</div>
<!-- End Page Banner Area -->

<!-- Start Service Details Area -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <div class="blog-card">
                        <div class="blog-image">
                            <a href="blog-details.html" class="d-block">
                                <img src="{{ post.image.url }}" alt="image">
                            </a>
                            <div class="date">{{ post.created_at|date:"d"}}<span>{{ post.created_at|date:"F"}}</span></div>
                        </div>
                        <div class="blog-card-body">
                            <ul class="comment">
                                <li><i class='bx bx-user'></i>FreshSpring</li>
                                <li><i class='bx bx-message-rounded'></i>({{post.comments.count}} Comment)</li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">{{ post.title }}</a>
                            </h3>
                            <p>{{ post.content|safe }}</p>
                            <p></p>

                            <!--<div class="p-card">
                                <p>“Enim felis tristique mattis consequat et. Ut enim egestas amet amet et quam nec orci. Enim quis magna mi aliquam ut sed. Sit nibh leo molestie dui enim morbi urna nunc. Sed cursus dolor feugiat lorem lacus.”</p>
                            </div>
                            <p>Vitae id quis eu donec. Enim felis tristique mattis consequat et. Ut enim egestas amet amet et quam nec orci. Enim quis magna mi aliquam ut sed. Sit nibh leo molestie dui enim morbi urna nunc. Sed cursus dolor feugiat lorem lacus. Natoque egestas eget in feugiat diam mauris.</p>

                            <div class="implement-schedule">
                                <h3>Implement a regular cleaning schedule</h3>
                                <p>Elementum in nisl mi et egestas nunc. Vitae id quis eu donec. Enim felis tristique mattis consequat et. Ut enim egestas amet amet et quam nec orci. Enim quis magna mi aliquam ut sed. Sit nibh leo molestie dui enim morbi urna nunc. Sed cursus dolor feugiat lorem lacus. Natoque egestas eget in feugiat diam mauris. Sed posuere auctor mattis convallis eu facilisis aenean libero molestie. Vitae tincidunt volutpat quis neque lectus elit sed et. Pharetra lacus sagittis neque dui amet enim eget nisi. Cras enim scelerisque eu etiam. Eu amet vehicula platea congue ornare.</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <img class="blog-image-7" src="assets/images/blog/blog-image-7.jpg" alt="image">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <img class="blog-image-7" src="assets/images/blog/blog-image-8.jpg" alt="image">
                                    </div>
                                </div>
                                <p>Vitae id quis eu donec. Enim felis tristique mattis consequat et. Ut enim egestas amet amet et quam nec orci. Enim quis magna mi aliquam ut sed. Sit nibh leo molestie dui enim morbi urna nunc. Sed cursus dolor feugiat lorem lacus. Natoque egestas eget in feugiat diam mauris.</p>
                            </div>-->

                            <div class="share">
                                <div class="row align-items-center">
                                    <div class="col-lg-7">
                                        <!--<ul class="share-tags">
                                            <li><p>Share:</p></li>
                                            <li><a href="#">Cleaning</a></li>
                                            <li><a href="#">Commercial Cleaning</a></li>
                                            <li><a href="#">Deep Cleaning</a></li>
                                        </ul>-->
                                    </div>
                                    <div class="col-lg-5">
                                        <ul class="footer-social">
                                            <li><p>Share Post:</p></li>
                                            <li>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                                    <i class="flaticon-facebook-1"></i>
                                                </a>
                                            </li>
                                            <!--<li>
                                                <a href="https://www.twitter.com/" target="_blank">
                                                    <i class="flaticon-twitter-1"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class="flaticon-linkedin-1"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <i class="flaticon-instagram"></i>
                                                </a>
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="comments">
                        <h4>{{ post.comments.count }} Comments</h4>
                        <ul>
                            {% for comment in comments %}
                                <li>
                                    <!--<img src="assets/images/user/user-image-1.jpg" alt="image">-->
                                    <span>{{ comment.created_at|date:"F j, Y" }} | {{ comment.created_at|date:"g:i A" }}</span>
                                    <h5>{{ comment.name }}</h5>
                                    <p>{{ comment.message }}</p>
                                    <!--<a href="#">Reply</a>-->
                                </li>
                            {% endfor %}
                            <!--<li>
                                <img src="assets/images/user/user-image-2.jpg" alt="image">
                                <span>July 19, 2025 | 4:55 am</span>
                                <h5>Jonathan Kimmon</h5>
                                <p>Vitae id quis eu donec. Enim felis tristique mattis consequat et. Ut enim egestas amet amet et quam nec orci. Enim quis magna mi aliquam ut sed. Sit nibh leo molestie dui enim morbi urna nunc. Sed cursus dolor feugiat lorem lacus. Natoque egestas eget in feugiat diam mauris.</p>
                                <a href="#">Reply</a>
                            </li>-->
                        </ul>
                    </div>

                    <div class="leave-reply">
                        <h3>Leave a reply</h3>
                        <form class="question-form" method="POST">
                            {% csrf_token %}
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <div class="form-group">
                                <i class='bx bx-user'></i>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <i class='bx bx-envelope'></i>
                                {{ form.email }}
                            </div>
                            <div class="form-group textarea">
                                <i class='bx bx-edit-alt'></i>
                                {{ form.message }}
                            </div>

                            <!--<div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexCheckDefault" id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">Save my name, email, and website in this browser for the next time I comment.</label>
                            </div>-->

                            <button type="submit" class="default-btn more">Post A Comment<i class="flaticon-right-arrow-3"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <!--<div class="search">
                        <form class="sidebar-search">
                            <h3>Search</h3>
                            <div class="r-relative">
                                <input type="text" class="form-control" placeholder="Search here...">
                                <button type="submit" class="btn-search">
                                    <i class='bx bx-search'></i>
                                </button>
                            </div>
                        </form>
                    </div>-->

                    <div class="choose-service">
                        <h3>Choose any service</h3>
                        <ul>
                            {% for service in services %}
                                <li class="{% if forloop.first %}active{% endif %}">
                                    <a href="{% url 'services' %}">{{ service.title }}</a>
                                    <i class='bx bx-chevron-right'></i>
                                </li>
                            {% endfor %}
                            <!--<li>
                                <a href="#">Residential Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Deep Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Retail Store Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Window Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Carpet Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">One-Time Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Outdoor Cleaning</a>
                                <i class='bx bx-chevron-right'></i>
                            </li>-->
                        </ul>
                    </div>
                    
                    <div class="news">
                        <h3>Recent posts</h3>
                        {% for blog in blogs %}
                            <div class="nes-feed">
                                <img src="{{ blog.image.url}}" alt="image">
                                <div class="news-content">
                                    <span>{{ blog.created_at|date:"F j Y"}}</span>
                                    <h4>
                                        <a href="#">{{ blog.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                        <!--<div class="nes-feed">
                            <img src="assets/images/user/user-image-4.jpg" alt="image">
                            <div class="news-content">
                                <span>July 14 2025</span>
                                <h4>
                                    <a href="#">Quick and easy solutions for a cleaning home</a>
                                </h4>
                            </div>
                        </div>
                        <div class="nes-feed">
                            <img src="assets/images/user/user-image-5.jpg" alt="image">
                            <div class="news-content">
                                <span>July 13 2025</span>
                                <h4>
                                    <a href="#">Your step-by-step guide to a thorough cleaning</a>
                                </h4>
                            </div>
                        </div>
                        <div class="nes-feed">
                            <img src="assets/images/user/user-image-6.jpg" alt="image">
                            <div class="news-content">
                                <span>July 12 2025</span>
                                <h4>
                                    <a href="#">Top 10 tips for a spotless and organized home</a>
                                </h4>
                            </div>
                        </div>-->
                    </div>

                    <div class="popular-tag">
                        <h3>Popular tags</h3>
                        <ul class="tags">
                            <li><a href="#">Cleaning</a></li>
                            <li><a href="#">Commercial Cleaning</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Deep Cleaning</a></li>
                            <li><a href="#">Residential Cleaning</a></li>
                            <li><a href="#">House</a></li>
                            <li><a href="#">Outdoor Cleaning</a></li>
                            <li><a href="#">Cleaning News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Details Area -->

<!-- Start Sign Up To Our Newsletter Area -->
<!--<div class="newsletter-area newsletter-service">
    <div class="container">
        <div class="newsletter-bg bg-color-8cb1dc">
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 col-md-7">
                    <form class="newsletter-form">
                        <h4>Signup to our newsletter</h4>
                        <div class="form-group">
                            <i class='bx bx-envelope'></i>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="learn-more">Subscribe<i class="flaticon-right-arrow-3"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="question-call d-flex align-items-center justify-content-end">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <div class="info">
                            <span>Have a question?</span>
                            <a href="tel:14519534466">+1 (451) 953 4466</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End Sign Up To Our Newsletter Area -->

{% endblock %}