{% load static %}
<!-- preloader -->
<div id="preloader">
    <div id="container" class="container-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span preloader-text="F" class="characters">F</span>
                
                <span preloader-text="R" class="characters">R</span>
                
                <span preloader-text="E" class="characters">E</span>
                
                <span preloader-text="S" class="characters">S</span>
                
                <span preloader-text="H" class="characters">H</span>

                <span preloader-text="S" class="characters">S</span>

                <span preloader-text="P" class="characters">P</span>

                <span preloader-text="R" class="characters">R</span>

                <span preloader-text="I" class="characters">I</span>

                <span preloader-text="N" class="characters">N</span>

                <span preloader-text="G" class="characters">G</span>
            </div>
        </div>	
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- preloader -->

<!-- Dark/Light Toggle -->
<div id="modeSwitcher">
    <input type="checkbox" class="checkbox" id="chk" />
    <label class="label" for="chk">
        <i class="fas fa-moon"></i>
        <div class="ball"></div>
    </label>
</div>
<!-- End -->
<div class="header-area-info">
<!-- Start Top Header Area -->
    <div class="top-header-area bg-color-004995">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="top-header-content">
                        <ul>
                            <li>
                                <img class="mail" src="{% static 'freshspring_app/images/svg/mail.svg' %}" alt="image">
                                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                            </li>
                            <li>
                                <img class="mail" src="{% static 'freshspring_app/images/svg/phone-call.svg' %}" alt="image">
                                <span>Call for Consultation: </span>
                                <a href="tel:{{contact.phone}}"> +{{formated_phone}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="top-header-info">
                        <div class="register">
                            <ul class="login-r">
                                <li>
                                    <img class="clock" src="{% static 'freshspring_app/images/svg/clock.svg' %}" alt="image">
                                    Monday - Saturday: 8:00am – 5:00pm
                                </li>
                                <li>
                                    <!--<div class="login">
                                        <img class="world-icon" src="{% static 'freshspring_app/images/svg/globe.svg' %}" alt="image">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>English</option>
                                            <option value="1">Arabic</option>
                                            <option value="2">Latin</option>
                                            <option value="3">China</option>
                                        </select>
                                    </div>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->
    
    <!-- Start Navbar Area -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'freshspring_app/images/freshspring-logo.svg' %}" class="navbar-logo" alt="logo">
                <img src="{% static 'freshspring_app/images/freshspring-logo-wb.svg' %}" class="navbar-logo logo2" alt="logo">
            </a>
            <a class="navbar-toggler home1-one-toggler" data-bs-toggle="offcanvas" href="#navbarOffcanvas" role="button" aria-controls="navbarOffcanvas">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="{% url 'services' %}" class="nav-link {% if request.resolver_match.url_name == 'services' %}active{% endif %}">Our Services</a>

                    <li class="nav-item ">
                        <a href="{% url 'portfolio' %}" class="nav-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">
                            Portfolio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'blog' %}" class="nav-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
                    </li>
                </ul>

                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <button class="search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                    <!--<div class="option-item">
                        <div class="shopping-bag">
                            <a href="cart.html">
                                <i class='bx bx-cart'></i>
                                <span>Cart</span>
                            </a>
                        </div>
                    </div>-->
                    <div class="option-item">
                        <div class="option-item">
                        <a href="{% url 'contact' %}" class="talk-btn"><i class='bx bx-message-rounded'></i> Let's Talk</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!-- End Navbar Area -->
</div>

<!-- Start Mobile Device Navbar Area -->
<div class="responsive-navbar offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvas">
    <div class="offcanvas-header">
        <a href="{% url 'home' %}" class="logo d-inline-block">
            <img src="{% static 'freshspring_app/images/freshspring-logo.svg' %}" alt="logo">
        </a>
        <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class='bx bx-x'></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="accordion" id="navbarAccordion">
            <div class="accordion-item">
                <a href="{% url 'home' %}" class="accordion-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    Home
                </a>
            </div>

            <div class="accordion-item">
                <a href="{% url 'services' %}" class="accordion-link {% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a>
            </div>

            <div class="accordion-item">
                <a href="{% url 'portfolio' %}" class="accordion-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">Portfolio</a>
            </div>

            <div class="accordion-item">
                <a href="{% url 'blog' %}" class="accordion-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}">Blog</a>
            </div>

            <div class="accordion-item">
                <a class="accordion-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{ url 'contact'}">
                    Contact
                </a>
            </div>
        </div>

        <div class="others-option d-flex align-items-center">
            <div class="option-item">
                <div class="option-item">
                    <a href="{% url 'contact' %}" class="talk-btn"><i class='bx bx-message-rounded'></i> Let's Talk</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Device Navbar Area -->

<!-- Search Bar Start -->
<div class="search-can">
    <div class="offcanvas offcanvas-top" id="offcanvasTop">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class='bx bx-x'></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <form class="search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="search-button" type="submit">
                    <i class="bx bx-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Search Bar End -->