{% extends 'freshspring_app/base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-content">
            <h2>Portfolio</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
    <img class="page-banner-shape-1" src="assets/images/shape/page-banner-shape-1.png" alt="image">
    <img class="page-banner-shape-2" src="assets/images/shape/page-banner-shape-2.png" alt="image">
</div>
<!-- End Page Banner Area -->

<!-- Start Our Portfolio Area -->
<div class="portfolio-area-three portfolio-page pt-100 pb-75">
    <div class="container">
        <div class="row align-items-center">
            {% for project in projects %}
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <!--<a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-5.jpg' %}" alt="image">
                        </a>-->
                        <img src="{{ project.project_display.url }}" alt="image">
                        <div class="title-card">
                            <span>{{ project.project_type }}</span>
                            <h3>
                                <a href="portfolio-details.html">{{ project.project_title }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--<div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-6.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">Carpet Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-7.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">House Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-8.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">Green Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-14.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">One-Time Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-15.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">Outdoor Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-16.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">Deep Cleaning</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-image">
                        <a href="portfolio-details.html" class="d-block">
                            <img src="{% static 'freshspring_app/images/portfolio/portfolio-image-17.jpg' %}" alt="image">
                        </a>
                        <div class="title-card">
                            <span>Commercial</span>
                            <h3>
                                <a href="portfolio-details.html">Industrial Clean-up</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<!-- End Our Portfolio Area -->

<!-- Start Our Cleaning Process Area -->
<div class="cleaning-process-area pb-75">
    <div class="container">
        {% for service in page_sections %}
            {% if service.slug == 'treatment-section' %}
                {% for treatment in service.sections.all %}
                    <div class="section-title">
                        <span class="sub-title"><img class="star" src="{% static 'freshspring_app/images/svg/star.svg' %}" alt="image">{{treatment.icon_text}}</span>
                        <h2>{{ treatment.header }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="row">
            {% for service in page_sections %}
                {% if service.slug == 'treatment-section' %}
                    {% for treatment in service.pagesectiontreatment.all %}
                        {% if treatment.serial == '01' %}
                            <div class="col-lg-3 col-md-6">
                                <div class="cleaning-process-card">
                                    <div class="process-card-top d-flex align-items-center justify-content-between">
                                        <h4>01.</h4>
                                        <img src="{{ treatment.icon.url }}" alt="image">
                                    </div>
                                    <h3><a href="{% url 'services' %}"></a>{{treatment.title}}</h3>
                                    <p>{{treatment.content}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for service in page_sections %}
                {% if service.slug == 'treatment-section' %}
                    {% for treatment in service.pagesectiontreatment.all %}
                        {% if treatment.serial == '02' %}
                            <div class="col-lg-3 col-md-6">
                                <div class="cleaning-process-card bg-2">
                                    <div class="process-card-top d-flex align-items-center justify-content-between">
                                        <h4>02.</h4>
                                        <img src="{{ treatment.icon.url }}" alt="image">
                                    </div>
                                    <h3><a href="{% url 'services' %}">{{treatment.title}}</a></h3>
                                    <p>{{treatment.content}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for service in page_sections %}
                {% if service.slug == 'treatment-section' %}
                    {% for treatment in service.pagesectiontreatment.all %}
                        {% if treatment.serial == '03' %}
                            <div class="col-lg-3 col-md-6">
                                <div class="cleaning-process-card bg-3">
                                    <div class="process-card-top d-flex align-items-center justify-content-between">
                                        <h4>03.</h4>
                                        <img src="{{ treatment.icon.url }}" alt="image">
                                    </div>
                                    <h3><a href="{% url 'services' %}">{{treatment.title}}</a></h3>
                                    <p>{{treatment.content}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for service in page_sections %}
                {% if service.slug == 'treatment-section' %}
                    {% for treatment in service.pagesectiontreatment.all %}
                        {% if treatment.serial == '04' %}
                            <div class="col-lg-3 col-md-6">
                                <div class="cleaning-process-card bg-4">
                                    <div class="process-card-top d-flex align-items-center justify-content-between">
                                        <h4>04.</h4>
                                        <img src="{{ treatment.icon.url }}" alt="image">
                                    </div>
                                    <h3><a href="{% url 'services' %}">{{treatment.title}}</a></h3>
                                    <p>{{treatment.content}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Our Cleaning Process Area -->

<!-- Start Sign Up To Our Newsletter Area -->
<!-- <div class="newsletter-area newsletter-service">
    <div class="container">
        <div class="newsletter-bg bg-color-8cb1dc">
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 col-md-7">
                    <form class="newsletter-form">
                        <h4>Signup to our newsletter</h4>
                        <div class="form-group">
                            <i class='bx bx-envelope'></i>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="learn-more">Subscribe<i class="flaticon-right-arrow-3"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="question-call d-flex align-items-center justify-content-end">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <div class="info">
                            <span>Have a question?</span>
                            <a href="tel:14519534466">+1 (451) 953 4466</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End Sign Up To Our Newsletter Area -->

{% endblock %}