{% extends 'freshspring_app/base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-content">
            <h2>Services</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
    <img class="page-banner-shape-1" src="{% static 'freshspring_app/images/shape/page-banner-shape-1.png' %}" alt="image">
    <img class="page-banner-shape-2" src="{% static 'freshspring_app/images/shape/page-banner-shape-2.png' %}" alt="image">
</div>
<!-- End Page Banner Area -->

<!-- Start Service Area -->
<div class="cleaning-services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            {% for section in page_sections %}
                {% if section.slug == 'services' %}
                    {% for service in section.sections.all %}
                        <span class="sub"><img class="star" src="{% static 'freshspring_app/images/svg/star.svg' %}" alt="image">{{service.icon_text}}</span>
                        <h2>{{service.header}}</h2>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-xl-3 col-lg-6 col-md-6">
                
                <div class="cleaning-card">
                    <img src="{{ service.icon.url }}">
                    <h3><a href="service-details.html">{{ service.title }}</a></h3>
                    <p>{{ service.description }}</p>
                    <!--<a href="service-detaidls.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>-->
                </div>
               
            </div>
             {% endfor %}
            <!--<div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-vacuum-cleaner-3 icon cleaner"></i>
                    <h3><a href="service-details.html">Commercial Cleaning</a></h3>
                    <p>Professional janitorial services for businesses.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-wipe icon wipe"></i>
                    <h3><a href="service-details.html">Deep Cleaning</a></h3>
                    <p>Thorough and detailed cleaning for a fresh start.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-cleaning-spray icon spray"></i>
                    <h3><a href="service-details.html">Retail Store Cleaning</a></h3>
                    <p>Maintaining clean and inviting shopping environments.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-window icon"></i>
                    <h3><a href="service-details.html">Window Cleaning</a></h3>
                    <p>Professional window washing services for crystal clear views</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-power-washing icon cleaner"></i>
                    <h3><a href="service-details.html">Carpet Cleaning</a></h3>
                    <p>Reviving and refreshing carpets for a clean look.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-mop-1 icon wipe"></i>
                    <h3><a href="service-details.html">Green Cleaning</a></h3>
                    <p>Eco-Friendly cleaning solutions for a sustainable future.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="cleaning-card">
                    <i class="flaticon-cleaning-tools icon spray"></i>
                    <h3><a href="service-details.html">One-Time Cleaning</a></h3>
                    <p>Providing cleaning services for specific occasions basis.</p>
                    <a href="service-details.html" class="learn-more">Learn More<i class="flaticon-right-arrow-3"></i></a>
                </div>
            </div>-->
        </div>
    </div>
</div>
<!-- End Service Area -->

<!-- Start Why Choose Us Area -->
<div class="why-choose-us-area service-page pb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="why-choose-us-content">
                    <div class="section-heading">
                        {% for section in page_sections %}
                            {% if section.slug == 'why-choose-us' %}
                                {% for choose in section.sections.all %}
                                    <span class="sub-title"><img class="star" src="{% static 'freshspring_app/images/svg/star.svg' %}" alt="image">{{choose.icon_text}}</span>
                                    <h2>{{choose.header}}</h2>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <ul>
                        {% for section in page_sections %}
                            {% if section.slug == 'why-choose-us' %}
                                {% for value in section.pagesectionvalue.all %}
                                    {% if value.position == '1' %}
                                        <li>
                                            <h3><i class='bx bx-check'></i>{{value.title}}</h3>
                                            <p>{{value.content}}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% for section in page_sections %}
                            {% if section.slug == 'why-choose-us' %}
                                {% for value in section.pagesectionvalue.all %}
                                    {% if value.position == '2' %}
                                        <li class="primary">
                                            <h3><i class='bx bx-check'></i>{{value.title}}</h3>
                                            <p>{{value.content}}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% for section in page_sections %}
                            {% if section.slug == 'why-choose-us' %}
                                {% for value in section.pagesectionvalue.all %}
                                    {% if value.position == '3' %}
                                        <li class="warning">
                                            <h3><i class='bx bx-check'></i>{{value.title}}</h3>
                                            <p>{{value.content}}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                            <img class="choose-shape-4" src="{% static 'freshspring_app/images/shape/choose-shape-4.png' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-us-image">
                    <img src="{% static 'freshspring_app/images/home/why-choose-us_resized.png' %}" alt="image">
                    <div class="award-question d-flex align-items-center justify-content-between">
                        <div class="symbol">
                            <i class="flaticon-award-symbol"></i>
                            <h3>Proven Track Record of Excellence</h3>
                        </div>
                        <div class="">
                            <h4>Need support?</h4>
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </div>

                        <img class="choose-shape-2" src="{% static 'freshspring_app/images/shape/choose-shape-5.png' %}" alt="image">
                        <img class="choose-shape-3" src="{% static 'freshspring_app/images/shape/choose-shape-6.png' %}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Us Area -->

<!-- Start Sign Up To Our Newsletter Area -->
<!--<div class="newsletter-area newsletter-service">
    <div class="container">
        <div class="newsletter-bg bg-color-8cb1dc">
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 col-md-7">
                    <form class="newsletter-form">
                        <h4>Signup to our newsletter</h4>
                        <div class="form-group">
                            <i class='bx bx-envelope'></i>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="learn-more">Subscribe<i class="flaticon-right-arrow-3"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="question-call d-flex align-items-center justify-content-end">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <div class="info">
                            <span>Have a question?</span>
                            <a href="tel:14519534466">+1 (451) 953 4466</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End Sign Up To Our Newsletter Area -->
{% endblock %}