
/*==========================================
Top Header Area Style
=============================*/
.header-area-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
.top-header-area {
    padding: {
        top: 8px;
        bottom: 8px;
    };
    .container-fluid {
        max-width: 1630px;
    }
    .top-header-content {
        ul {
            padding: {
                left: 0; right: 0;
            };
            margin-bottom: 0;
            list-style-type: none;
            li {
                position: relative;
                display: inline-block;
                margin-right: 30px;
                padding-left: 25px;
                font-size: 14px;
                color: var(--whiteColor);
                line-height: 27.2px;
                font: {
                    family: var(--bodyFontFamily);
                };
                .mail {
                    position: absolute;
                    top: 6px; left: 0;
                    max-width: 16px;
                    color: var(--starColor);
                    transition: var(--transition);
                }
                span {
                    font: {
                        size: 14px;
                        weight: 400;
                        family: var(--headingFontFamily);
                    };
                }
                a {
                    font: {
                        size: 14px;
                        weight: 600;
                    };
                    color: var(--whiteColor);
                }
                &:hover {
                    a {
                        color: var(--starColor);
                    }
                }

                &:first-child {
                    .mail {
                        top: 7px;
                    }
                    a {
                        font-weight: 400;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .top-header-info {
        text-align: end;
        .login-r {
            padding: {
                left: 0; right: 0;
            };
            margin: {
                bottom: 0;
            };
            list-style-type: none;
            li {
                position: relative;
                display: inline-block;
                color: var(--whiteColor);
                font-size: 14px;
                padding-left: 25px;
                .clock {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    max-width: 16px;
                }
                i {
                    position: absolute;
                    top: 2px; left: 0;
                    color: var(--whiteColor);
                    font-size: 14px;
                }
                a {
                    position: relative;
                    color: var(--whiteColor);
                    &:hover {
                        color: var(--mainColor);
                    }
                }
                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    margin-left: 0;
                    padding-left: 0;
                    a {
                        margin-right: 0;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        .login {
            position: relative;
            .world-icon {
                position: absolute;
                top: 9px;
                left: 0;
                max-width: 16px;
                color: var(--starColor);
            }
            select.form-select {
                background-color: transparent;
                color: var(--whiteColor);
                border: none;
                border-radius: 0;
                font-size: 14px;
                font-weight: 500;
                font-family: var(--bodyFontFamily);
                background: {
                    image: url("..//images/svg/down-arrow.svg");
                    position: right .5px center;
                    repeat: no-repeat;
                    size: 10px 12px;
                };
                padding: {
                    left: 25px;
                    right: 22px;
                };
                &:focus {
                    border: 0;
                    box-shadow: unset;
                }
                option {
                    color: var(--blackColor);
                    font-family: var(--bodyFontFamily);
                }
            }
        }
    }
}

/* Min width 991px */
@media only screen and (max-width: 767px) {
    .top-header-area {
        .top-header-content {
            ul {
                li {
                    span {
                        font-size: 13px;
                    }
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .top-header-info {
            text-align: start;
            .login-r {
                li {
                    font-size: 13px;
                    padding-left: 22px;
                }
            }
            .login {
                left: -22px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .top-header-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .top-header-area {
        .top-header-content {
            text-align: center;
            ul {
                li {
                    margin-right: 20px;
                    padding-left: 25px;
                    font-size: 14px;
                    i {
                        top: -4px;
                        font-size: 14px;
                        width: 25px;
                        height: 25px;
                        line-height: 28px;
                    }
                    span {
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                    }
                    
                    *, ::after, ::before {
                        box-sizing: border-box;
                    }

                    &:first-child {
                        a {
                            margin-left: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .top-header-info {
            text-align: center;
            .login-r {
                li {
                    font-size: 14px;
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
            .login select {
                &.form-select {
                    font-size: 14px;
                    option {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-header-area {
        .container-fluid {
            max-width: 960px;
        }
        .top-header-content {
            ul {
                li {
                    span {
                        font-size: 12px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        .top-header-info {
            .login-r {
                li {
                    font-size: 12px;
                    .clock {
                        top: 1px;
                    }
                }
            }
            .login {
                .world-icon {
                    top: 7px;
                }
                .form-select {
                    font-size: 12px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .top-header-area {
        .container-fluid {
            max-width: 1140px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1400px) and (max-width: 1599px) {

    .top-header-area {
        .container-fluid {
            max-width: 1320px;
        }
    }

}

/* Min width 1600px to Max width 1799px */
@media only screen and (min-width: 1600px) and (max-width: 1799px) {

    //
    .top-header-area {
        .container-fluid {
            max-width: 1520px;
        }
    }

}